@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-heading: #064E3B;
  --color-body: #475569;
  --color-accent: #FB7185;
  --color-bg-app: #F0FDF4;
}

@layer base {
  body {
    @apply antialiased text-body bg-bg-app;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-heading;
  }
}
